.container {
	padding-top: 85px;
	width: 100%;
    padding-left: 275px;
    padding-right: 25px;
	padding-bottom: 25px;
}

.brand-logo {
	margin-left: 15px;
}

a.brand-logo > img {
    height:auto;
    max-height:50px;
    margin-top:7px;
}

.top-nav {
    position:fixed;
    z-index:3;
}

#sidenav-overlay {
	z-index: 1 !important;
}

.side-nav {
	width: 250px;
}

.non-mobile-side-nav {
    width: 250px;
    transform: translate(0, 64px)!important;
}

.side-nav li > a.btn {
	color: #000;
    background-color: #fff;
    font-size: .9rem;
    margin: 15px 0;
    box-shadow: none;
}

.profile-pic {
	height:100%;
	width:auto;
	padding: 5px;
	max-height: 65px;
}

.card-header {
	font-size: .9rem;
	max-height: 50px;
	border-bottom: 1px solid #eee;
}

.thumbnail {
	height: 50px;
    width: 50px;
}

.profile-thumbnail-large {
	max-height: 100px;
}

.bold {
	font-weight: 500 !important;
}

.red-bg {
	background-color: rgba(225,4,20, .8)
}

.green-bg {
	background-color: rgba(95, 186, 125, .8)
}

.rpg:after {
	font-weight: bold;
	color: #963000;
	content: "RPG";
}

.underline{
	text-decoration: underline;
}

.news {
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	margin: 20px 0;
}

.news h1 {
	font-size: 2rem;
	margin: 10px 0;
}

.news img {
	margin-bottom: 10px;
	width: 100%;
}

.side-nav li.active > a.btn {
	background-color: #2bbbad !important;
}

@media only screen and (max-width: 993px) {
    .container {
	padding-top: 85px;
	width: 100%;
    padding-left: 25px;
    padding-right: 25px;
	padding-bottom: 25px;
}

}